* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;
}

body {
    background-color: #8A51FC;
}

.logo {
    width: 300px;
    display: block;
    margin: 30px auto;
}

main {
    width: 375px;
    background: #f4f4f4;
    border-radius: 20px;
    margin: 0 auto 40px;
    padding: 44px 24px 23px;
}

select,
input {
    background: #ffffff;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    appearance: none;
    padding-left: 18px;
    font-size: 16px;
    font-weight: 200;
    color: #555555;

    cursor: pointer;
}

button {
    background: #772FD2;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    height: 48px;
    width: 100%;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.6;
}

section {
    border: 1px solid #772fd3;
    border-radius: 20px;
    margin-top: 30px;
    padding: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow-img {
    margin: 15px 0;
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.currency {
    font-size: 17px;
    color: #777777;
}

.currency-value, .currency-value-to-convert {
    font-size: 20px;
    font-weight: 700;
    color: #555555;
}